

.HomeContainer{

  width: 820px;
  height: 870px;
  
  border: 1px solid black;

}

.windowExit{
  height: 30px;
  width: 30px;

  border:none;
  margin: 15px;

}

.line-holder{
  display: flex;
  flex-direction: column;
}